<div class="main-cotainer">
<div class="container">
  <div class="two-buttons" >
    <button mat-raised-button> Zruck (abrechen/nichtubemehmen) </button>
    <button mat-raised-button> Weiter (ubernehmen) </button>
  </div>
  <div class="textera">
    <textarea></textarea>
  </div>
  <div class="auto-complete-search">
<input type="text" placeholder="AutoComplete Search">
  </div>
  <div class="table-container">
<div class="container-table">
    <div class="table" style="background-color: #cccccc;">
      <div class="table-row-one">
        <span>ID</span>
      </div>
      <div class="table-row-two"><span>short</span></div>
      <div class="table-row-three">
        <span>long</span>
      </div>
    </div>
    <div class="table">
      <div class="table-row-one">
        <span>1</span>
      </div>
      <div class="table-row-two"><span>bma</span></div>
      <div class="table-row-three">
        <span>nicht normgerecht</span>
      </div>
    </div>
    <div class="table">
      <div class="table-row-one">
        <span>2</span>
      </div>
      <div class="table-row-two"><span>bma</span></div>
      <div class="table-row-three">
        <span>fehler im xy</span>
      </div>
    </div>
    <div class="table">
      <div class="table-row-one">
        <span>3</span>
      </div>
      <div class="table-row-two"><span>bma</span></div>
      <div class="table-row-three">
        <span>fehler im xy</span>
      </div>
    </div>
    <div class="table">
      <div class="table-row-one">
        <span>4</span>
      </div>
      <div class="table-row-two"><span>bma</span></div>
      <div class="table-row-three">
        <span>fehler im xy</span>
      </div>
    </div>
    <div class="table" style="border: none;">
      <div class="table-row-one">
        <span>5</span>
      </div>
      <div class="table-row-two"><span>bma</span></div>
      <div class="table-row-three">
        <span>fehler im xy</span>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
